<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankki.webapp.dao.config.AlertResultAuditMapper">

    <!-- DM8 版本，大写标识符 -->
    <resultMap id="BaseResultMap" type="com.ankki.webapp.model.alert.AlertResultAudit">
        <id column="ID" property="id"/>
        <result column="ALERT_RESULT_ID" property="alertResultId"/>
        <result column="AUDIT_LOG_ID" property="auditLogId"/>
        <result column="IP_ADDRESS" property="ipAddress"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SCM_RJ_SIMP.ALERT_RESULT_AUDIT (ALERT_RESULT_ID, AUDIT_LOG_ID, IP_ADDRESS)
        VALUES (#{alertResultId}, #{auditLogId}, #{ipAddress})
    </insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SCM_RJ_SIMP.ALERT_RESULT_AUDIT (ALERT_RESULT_ID, AUDIT_LOG_ID, IP_ADDRESS)
        VALUES
        <foreach collection="records" item="item" separator=",">
            (#{item.alertResultId}, #{item.auditLogId}, #{item.ipAddress})
        </foreach>
    </insert>

    <select id="selectByAlertResultId" resultMap="BaseResultMap">
        SELECT * FROM SCM_RJ_SIMP.ALERT_RESULT_AUDIT WHERE ALERT_RESULT_ID = #{alertResultId}
    </select>

    <delete id="deleteByAlertResultId">
        DELETE FROM SCM_RJ_SIMP.ALERT_RESULT_AUDIT WHERE ALERT_RESULT_ID = #{alertResultId}
    </delete>

</mapper>
